#container{
    width: 50%;
}
.boton{
    margin: 0 10px;
}
.completado{
    background-color: seagreen;
    color:royalblue;
    font-size: xx-large;
}
.pendiente{
    background-color: seashell;
    color:saddlebrown;
    font-size: xx-large;
}
li{
    margin: 10px 1px;
}
