<div class="container">
  <h2>Detalle</h2>
  <div class="card">

    <dl *ngIf="proveedor">
      <dt>Razón Social</dt>
      <dd>{{ proveedor.razonSocial }}</dd>
      <dt>CUIT/DNI</dt>
      <dd>{{ proveedor.cuitDni }}</dd>
      <dt>Teléfono</dt>
      <dd>{{ proveedor.telefono ? proveedor.telefono : '-' }}</dd>
      <dt>Email</dt>
      <dd>{{ proveedor.email ? proveedor.email : '-' }}</dd>
      <dt>Dirección</dt>
      <dd>{{ proveedor.direccion ? proveedor.direccion : '-' }}</dd>
      <dt>Activo</dt>
      <dd>{{ proveedor.activo ? 'Si' : 'No' }}</dd>
    </dl>

    <div class="button-form">
      <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
      </button>

      <button type="button" [routerLink]="['../../', proveedor?.id, 'edit']" class="btn btn-primary"
        title="Editar">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Editar
      </button>

      <button type="button" (click)="delete(proveedor.id)" class="btn btn-danger"
        title="Eliminar">
        <fa-icon icon="times"></fa-icon>&nbsp;Eliminar
      </button>
    </div>
  </div>
</div>