<div class="container">
  <h2>
    <button type="button" [routerLink]="['new']" class="btn btn-primary btn-icon" title="Crear Proveedor">
      <fa-icon icon="plus"></fa-icon>
    </button> Proveedores
  </h2>

  <div class="card">
    <form class="form-filter" name="myForm" role="form" novalidate (ngSubmit)="onFilter()" [formGroup]="myForm">
      <fa-icon *ngIf="collapsedFilter" icon="chevron-up" class="pointer filter-icon"
        (click)="collapsedFilter = !collapsedFilter">
      </fa-icon>
      <fa-icon *ngIf="!collapsedFilter" icon="chevron-down" class="pointer filter-icon"
        (click)="collapsedFilter = !collapsedFilter">
      </fa-icon>

      <ng-container *ngIf="!collapsedFilter">
        <div class="row">
          <div class="col-lg-4">
            <label for="razonSocial" class="form-label">Razón Social</label>
            <input type="text" class="form-control" name="razonSocial" id="razonSocial" formControlName="razonSocial" />
          </div>

          <div class="col-lg-4">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="telefono" id="telefono" formControlName="telefono" />
          </div>

          <div class="col-lg-4">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" id="email" formControlName="email" />
          </div>

          <div class="col-lg-4">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion" formControlName="direccion" />
          </div>

          <div class="col-lg-2">
            <div class="form-check form-switch">
              <label class="form-check-label" for="verInactivos">Ver inactivos</label>
              <input class="form-check-input" type="checkbox" name="verInactivos" id="verInactivos"
                formControlName="verInactivos">
            </div>
          </div>

        </div>

        <div class="button-form-filter">
          <button type="button" class="btn btn-secondary" (click)="clearFilter()" title="Limpiar">
            <fa-icon icon="broom"></fa-icon>&nbsp;Limpiar
          </button>
          <button type="submit" [disabled]="loading" class="btn btn-primary" title="Filtrar">
            <fa-icon icon="filter"></fa-icon>&nbsp;Filtrar
          </button>
        </div>
      </ng-container>
    </form>
  </div>

  <ngx-datatable class="material striped" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto" [loadingIndicator]="loading" [externalSorting]="true" (sort)="onSort($event)"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.offset" [limit]="page.size"
    (page)="setPage($event)">
    <ngx-datatable-column name="Razón Social" prop="razonSocial"></ngx-datatable-column>
    <ngx-datatable-column name="CUIT/DNI" prop="cuitDni"></ngx-datatable-column>
    <ngx-datatable-column name="Teléfono" prop="telefono">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{ value ? value : '-'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="email">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{ value ? value : '-'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Dirección" prop="direccion">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{ value ? value : '-'}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Activo" prop="activo">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <fa-icon *ngIf="value" icon="check-square" class="text-success"></fa-icon>
        <fa-icon *ngIf="!value" icon="square" class="text-danger"></fa-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" prop="id" [sortable]="false" [cellClass]="'column-actions'">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button type="button" [routerLink]="['./', value, 'edit']" class="btn btn-primary" title="Editar">
          <fa-icon icon="pencil-alt"></fa-icon>
        </button>
        <button type="button" [routerLink]="['./', value, 'view']" class="btn btn-primary" title="Ver">
          <fa-icon icon="eye"></fa-icon>
        </button>
        <button type="button" class="btn btn-danger" title="Eliminar" (click)="delete(value)">
          <fa-icon icon="times"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</div>