<div class="container">
  <h2>Detalle</h2>
  <div class="card">

    <dl *ngIf="producto">
      <dt>Descripción</dt>
      <dd>{{ producto.descripcion }}</dd>
      <dt>Categoría</dt>
      <dd>{{ producto.categoria.descripcion }}</dd>
      <dt>Stock</dt>
      <dd>{{ producto.stock }}</dd>
      <dt>Cantidad mínima</dt>
      <dd>{{ producto.cantidadMinima }}</dd>
      <dt>Precio venta</dt>
      <dd>{{ producto.precioVenta | currency :'$':'symbol':'1.2-2' }}</dd>
      <dt>Activo</dt>
      <dd>{{ producto.activo ? 'Si' : 'No' }}</dd>
    </dl>

    <div class="button-form">
      <button type="button" class="btn btn-secondary" (click)="previousState()" title="Volver">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
      </button>

      <button type="button" [routerLink]="['../../', producto?.id, 'edit']" class="btn btn-primary"
        title="Editar">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Editar
      </button>

      <button type="button" (click)="delete(producto.id)" class="btn btn-danger"
        title="Eliminar">
        <fa-icon icon="times"></fa-icon>&nbsp;Eliminar
      </button>
    </div>
  </div>
</div>