<div class="container">

  <div class="card">
    <form class="form-filter" name="myForm" role="form" novalidate (ngSubmit)="onFilter()" [formGroup]="myForm">
      <fa-icon *ngIf="collapsedFilter" icon="chevron-up" class="pointer filter-icon"
               (click)="collapsedFilter = !collapsedFilter">
      </fa-icon>
      <fa-icon *ngIf="!collapsedFilter" icon="chevron-down" class="pointer filter-icon"
               (click)="collapsedFilter = !collapsedFilter">
      </fa-icon>
      <ng-container *ngIf="!collapsedFilter" >
        <div class="row">
          <div class="col-lg-2" >
            <label for="ClienteDni" class="form-label">DNI</label>
            <input type="text" class="form-control" name="ClienteDni" id="ClienteDni" formControlName="ClienteDni">
          </div>
          <div class="col-lg-2" >
            <label for="nomTarjeta" class="form-label">Tarjeta</label>
            <input type="text" class="form-control" name="nomTarjeta" id="nomTarjeta" formControlName="nomTarjeta">
          </div>
          <div class="col-lg-2" >
            <label for="numTarjeta" class="form-label">Num. Tarjeta</label>
            <input type="text" class="form-control" name="numTarjeta" id="numTarjeta" formControlName="numTarjeta">
          </div>
          <div class="col-lg-2" >
            <div class="form-check form-switch">
              <label class="form-check-label" for="verInactivas" >Inactivas</label>
              <input class="form-check-input" type="checkbox" name="verInactivas" id="verInactivas" formControlName="verInactivas" >
            </div>
          </div>
        </div>
        <div class="button-form-filter">
          <button type="button" class="btn btn-secondary" (click)="clearFilter()" title="Limpiar" >
            <fa-icon icon="broom"></fa-icon>&nbsp;Limpiar
          </button>
          <button type="submit" [disabled]="loading" class="btn btn-primary" title="Filtrar">
            <fa-icon icon="filter"></fa-icon>&nbsp;Filtrar
          </button>
        </div>
      </ng-container>
    </form>
  </div>
  <ngx-datatable
    class="material striped"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [loadingIndicator]="loading"
    [externalSorting]="true"
    (sort)="onSort($event)"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.offset"
    [limit]="page.size"
    (page)="setPage($event)"
  >
    <ngx-datatable-column name="Total" prop="total"></ngx-datatable-column>
    <ngx-datatable-column name="Tarjeta" prop="nomTarjeta"></ngx-datatable-column>
    <ngx-datatable-column name="Num. Tarjeta" prop="numTarjeta"></ngx-datatable-column>
    <ngx-datatable-column name="Cant. Cuotas" prop="cantCuotas"></ngx-datatable-column>
    <ngx-datatable-column name="Fecha Venta" prop="fechaVenta"></ngx-datatable-column>
    <ngx-datatable-column  name="Activo" prop="activa" >
      <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template >
        <fa-icon *ngIf="value" icon="check-square" class="text-success"></fa-icon>
        <fa-icon *ngIf="!value" icon="square" class="text-danger"></fa-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Cliente Dni" prop="ClienteDni"></ngx-datatable-column>
    <ngx-datatable-column name="" prop="id" [sortable]="false" [cellClass]="'column-actions'" >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button type="button" [routerLink]="['./', value, 'view']" class="btn btn-primary" title="Ver">
          <fa-icon icon="eye"></fa-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
