button {
  width: 70%;
  font-size: xx-large;
}

.row {
  text-align: center;
}
.home-container {
  background-color: #dc3545;
  height: 500px;
  width: 1800px;
  margin: 0px 50px 50px;

}
.foto {
  background-color: cornflowerblue;
  margin: 0 5px;
}

.userSquare{
  border-width: 1px;
  border-style: solid;
  border-color: black;

}

